.main_form {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/Hinh-Nen-Pokemon-1-scaled.jpg);
    background-size: cover;
    background-position: center;
  
  }
.row{
    margin-top: 10px;
}
.row button{
    margin: 10px;
}