<div class="container-fluid" ng-controller="viewCtrl">
    <h1 class="text-center">Bài 1 _ Lap 5</h1>
    <br>
    <div class="row">
        <div class="">
            <form>
                <div class="form-group">
                    <label>Họ và Tên</label>
                    <input ng-model="student.name" class="form-control" type="text" name="">
                </div>
                <div class="form-group">
                    <label>Ngày Sinh</label>
                    <input ng-model="student.birthday" class="form-control" type="text" name="">
                </div>
                <div class="form-group">
                    <label>Điểm</label>
                    <input ng-model="student.mark" class="form-control" type="text" name="">
                </div>
                <button ng-click="save()" class="btn btn-primary" type="button">Save</button>
                <button ng-click="clear()" class="btn btn-primary" type="button">Cancel</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class=" ">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Tên</td>
                        <td>Ngày Sinh</td>
                        <td>Điểm</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="st in listStudent">
                        <td>{{st.name}}</td>
                        <td>{{st.birthday}}</td>
                        <td>{{st.mark}}</td>
                        <td>edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>